@font-face {
  font-family: 'Frutiger LT Std 77';
  src: url('@/assets/fonts/Frutiger77Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Frutiger LT Std 67';
  src: url('@/assets/fonts/Frutiger67Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


// Variables de fuentes para usar en el proyecto
$font-primary: 'Frutiger LT Std 67', 'Helvetica Neue', 'Arial', sans-serif;
$font-secondary: 'Frutiger LT Std 77', 'Arial', sans-serif;
$font-heading: $font-primary;
$font-body: $font-primary;
$font-mono: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Courier New', monospace;